.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-col {
  display: flex;
  flex-direction: column;
}

.contact-cell {
  margin-bottom: 30px;
  a {
    text-decoration: none;
    color: #337ab7;
  }

  &:last-child{
    margin-bottom: 0px;
  }
}
